<!DOCTYPE html>
<html lang="en">

<% include ./partials/head %>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <% include ./partials/nav_mobile %>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <% include ./partials/sidebar %>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <% include ./partials/nav %>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                    <a href="/admin/schedule_exam" class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus"></i>Schedule Exam</a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= courses %></h2>
                                                <span>Courses</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= students %></h2>
                                                <span>Students</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= halls %></h2>
                                                <span>Exam Halls</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="title-1 m-b-25">Upcoming Exams</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                    <th>Course</th>
                                                    <th>Venue</th>
                                                    <th>Invigilator</th>
                                                    <th>Date</th>
                                        </thead>
                                        <tbody>
                                                <% exams.forEach(function(exam){ %>
                                                    <tr>
                                                        <td>
                                                            <%= exam.course.code %>
                                                        </td>
                                                        <td>
                                                            <%= exam.hall.name %>
                                                        </td>
                                                        <td>
                                                            <%= exam.invigilator %>
                                                        </td>
                                                        <td>
                                                            <%= moment(exam.date).format('LLL'); %>
                                                        </td>
                                                       
                                                    </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <% include ./partials/footer %>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

   <% include ./partials/script %>

</body>

</html>
<!-- end document-->
